body{
    font-size: 1.5rem;
}

table,td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

td{
    padding: 1rem;
}

#titulo{
    background-color: rgb(13, 236, 236);
}