.center-container {
    display: flex;
    align-items: center;
    flex-direction: column; /* Nueva propiedad para colocar los elementos en columna */
    height: 100vh;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #8400ff; /* Color de fondo bonito */
    color: #fff; /* Color de texto en el botón */
    font-size: 100px; /* Aumentar el tamaño del botón a 20px */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #aaa2e1; /* Color de fondo al pasar el mouse */
  }
  